

.card {
   
  display: flex;
  flex-wrap: wrap;
  /* margin: 11.69rem 2.5rem 19.06rem 2.5rem; */
  background-color: #5e5e5e;
  justify-content: center;
  gap: 1.25rem;
 
}

.title {
    /*  */
    display: flex;
    flex-wrap: wrap;
 margin-bottom: 3rem;
 margin-left: 2.5rem;
  color: #fff;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 26.25rem;
  height: 4.5rem;
}
